<button (click)="changeTab('images')">Slike</button>
<button id="details-btn" (click)="changeTab('details')" [disabled]="!_image.selectedImage">Detalji</button>
<app-images *ngIf="tab=='images'" (onSelect)="tab='details'" (onEdit)="imageForEdit=$event"></app-images>
  <app-edit *ngIf="imageForEdit"></app-edit>
  <app-details *ngIf="tab=='details' && _image.selectedImage"></app-details>
