#edit {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: rgba(0,0,0,.5);
  &>div {
    width: 200px;
    background: green;
    padding: 10px;
  }
}

