<div id="edit">
  <div>
    <h2>Edit image</h2>
    <div>
      <input type="text" placeholder="Image URL" [(ngModel)]="_image.selectedImage.picture">
    </div>
    <div>
      <input type="text" placeholder="Image Name" [(ngModel)]="_image.selectedImage.name">
    </div>
    <div>
      <input type="text" placeholder="Image Description" [(ngModel)]="_image.selectedImage.description">
    </div>
</div>
</div>
