.list {
  float: left;
  margin-right: 10px;
  margin-left: 30px;


  &:hover {
    .name {
      display: none;
    }

    .tools {
      display: block;
    }
  }

  .name {
    display: block;
    font-size: 20px;
    text-align: center;
  }

  .tools {
    display: none;
  }


}
