<div>
  <div class="list" *ngFor="let image of images">
    <img src={{image.picture}} width="300" >
    <div class="name">{{image.name}}</div>
    <div class="tools">
      <button (click)="editImage(image)"><i class="fa fa-pencil"></i></button>
      <button (click)="deleteImage()"><i class="fa fa-trash"></i></button>
      <button (click)="selectImage(image);"><i class="fa fa-info"></i></button>
    </div>
  </div>
</div>
